body {
  position: relative;
  font-family: sans-serif;
}

label,
input,
select,
button {
  display: block;
  margin-bottom: 8px;
}

label {
  font-size: 12px;
  color: black;
}

.buttons-wrapper {
  display: block;
  margin-bottom: 8px;
}

.buttons-wrapper > button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 8px 8px;
}

.buttons-wrapper > button:first-child {
  margin-left: 0;
}

#output strong.country {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
}

#output > div {
  margin-bottom: 20px;
}

#output div.inner {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 10px 0;
}

#output div.inner:nth-child(even) {
  background: #efefef;
}

#output div.inner:nth-child(odd) {
  background: #efefef;
}

c {
  font-size: 11px;
  color: gray;
}

.input-area {
  padding-bottom: 20px;
}

.information-text {
  font-size: 10px;
  color: darkgray;
  padding-bottom: 20px;
}

.is-hidden {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
}
